svg.text-primary {
  fill: #0d6efd;
}

.page {
  min-height: 100vh;
}

.cursor-pointer {
  cursor: pointer;
}

.offcanvas {
  animation: slideIn 0.3s ease-in-out;
  font-size: 14px;
}

.modal.show {
  background-color: rgba(0, 0, 0, 0.5);
}

.item.dir {
  position: relative;
}

.item.dir .icon {
  position: absolute;
  top: 3px;
  right: 3px;
}

.item.dir svg {
  filter: drop-shadow(0 0 1px #c7b772);
}

.btn.btn-small {
  --bs-btn-padding-y: .25rem;
  --bs-btn-padding-x: .5rem;
  --bs-btn-font-size: .75rem;
}

.meta-code {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 22px;
  font-weight: bold;
  color: #555;
  background-color: #eee;
  padding: 20px 0;
  margin-bottom: 30px;
}

.meta-code span {
  font-size: 80%;
  color: #999;
  margin-right: 20px;
}

.order:hover {
  background-color: #f3f3f3;
  cursor: pointer
}

.order-content img {
  width: 150px;
  max-width: 250px;
  max-height: 250px;
  border: 1px solid #eee;
  border-radius: 4px;
  margin-top: 5px;
  transition: all .3s
}

.order-content tr:hover img {
  width: 250px;
}

.nav-link {
  cursor: pointer;
}

.offcanvas-header {
  background-color: #f3f3f3;
}

.offcanvas-title {
  background-color: #ebebeb;
  padding: 1em;
  border-right: 1px solid #e0e0e0;
}

.offcanvas-header .btn-close-wrapper {
  width: 70px;
  height: 100%;
  background-color: #ebebeb;
  border-left: 1px solid #e0e0e0;
  padding: 0 !important;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lk table td a {
  width: fit-content;
  padding: 2px;
  background-color: #f3f3f3;
}

.gallery-item {
  background-position: center;
  background-size: cover;
}

.sidebar {
  position: fixed;
}

.lk-body {
  margin-left: 200px;
}

.form-check-input {
  transform: scale(1.3);
  margin-right: 20px;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%)
  }

  100% {
    transform: translateX(0);
  }
}


@media (max-width: 520px) {
  .sidebar {
    max-width: 80px;
  }

  .nav-item span {
    display: none;
  }
}